input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 10px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 25%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

input[type=button] {
  width: 25%;
  background-color: #4CAF50;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10pt;
  font-style: oblique;
}

input[type=button]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

body {
  font-family: 'Titillium Web', sans-serif
}
.heading {
  font-weight: 700;
}
.subheading {
  font-weight: 300;
}

.patBanner{
  background: linear-gradient(to top, gray);
  width: 200 px;
  height: 240 px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}